$header-height: 30px;
$opened-height: 300px;
$chart-height: 200px;
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$mono-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$z-index-waterfall: 123456789;
$z-index-container: 900;
$z-index-preference: 999;
