// -----------------------------------------------------------------
// JSON
// -----------------------------------------------------------------

waterfall[data-tab-mode="json"] {
    pre {
        padding: calc(var(--waterfall-font-size) * .6);
        // make pre break all
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
        overflow-wrap: break-word; // standard
        flex: 0 0 100%;
        overflow: clip;
        margin: 0;
    }
    waterfall-content waterfall-tab-content {
        //overflow: hidden;
    }
    [data-command-action="minify"] {
        color: var(--waterfall-header-tab-active-color);
    }
    @media screen and (max-width: 640px) {
        waterfall-filters waterfall-actions > waterfall-info {
            flex: 0 0 100%;
        }
    }
}