@import "../mixins";

waterfall[data-tab-mode="labs"] {
    waterfall-tab[data-tab="labs"] {
        waterfall-chart-wrapper {
            @include flex-column;
            flex: 0 0 100%;
            width: 100%;
        }
        waterfall-chart {
            display: block;
            flex: 0 0 100%;
            width: 100%;
            > div {
                width: 100%!important;
                max-width: 100%;
                transition: all 0.3s;
            }
        }
        waterfall-chart-benchmarks:has(waterfall-chart-wait, waterfall-chart-error) {
            @include flex-column-center;
            flex: 0 0 100%;
            align-items: center;
        }
        waterfall-chart-error-link {
            cursor: pointer;
            font-weight: bold;
            font-size: var(--waterfall-font-size);
            margin: var(--waterfall-font-size) 0;
        }
        waterfall-chart-wait {
            @include flex-column-center;
            flex: 0 0 100%;
            align-items: center;
        }
    }
}